.GICarousel {
  padding: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 99;
}
.GICarousel ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: none;
}
.GICarousel .GI_Controls {
  z-index: 110;
}
.GICarousel .GI_Controls.GI_C_disabled {
  opacity: 0.3;
  cursor: default;
}
.GICarousel .GI_C_close {
  position: absolute;
  top: 0;
  right: 0;
  background: red;
  width: 50px;
  height: 50px;
}
.GICarousel .GI_C_prev, .GICarousel .GI_C_next {
  position: absolute;
  background: white;
  font-style: normal;
  top: 50%;
  margin: -15px 0 0 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.GICarousel .GI_C_prev {
  left: 0;
}
.GICarousel .GI_C_next {
  right: 0;
}
.GICarousel.GI_C_wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  /*
  *
  * Slides container
  *
  */
  /*
  *
  * Slide paginator
  *
  */
}
.GICarousel.GI_C_wrapper ul.GI_C_items {
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  /*
  *
  * Single slide
  *
  */
}
.GICarousel.GI_C_wrapper ul.GI_C_items.animated {
  -webkit-transition: left 0.4s ease-in-out;
  -moz-transition: left 0.4s ease-in-out;
  -o-transition: left 0.4s ease-in-out;
  transition: left 0.4s ease-in-out;
}
.GICarousel.GI_C_wrapper ul.GI_C_items.animated .parallax {
  -webkit-transition: margin 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: margin 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: margin 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  transition: margin 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}
.GICarousel.GI_C_wrapper ul.GI_C_items li {
  height: 100%;
  width: 100%;
  display: block;
  float: left;
  z-index: 100;
  position: relative;
  overflow: hidden;
}
.GICarousel.GI_C_wrapper ul.GI_C_items li img {
  width: 100%;
}
.GICarousel.GI_C_wrapper ul.GI_C_items li.current {
  z-index: 105;
}
.GICarousel.GI_C_wrapper ul.GI_C_paginator {
  height: 48px;
  bottom: 0;
  width: 100%;
  display: block;
  position: absolute;
  text-align: center;
  z-index: 110;
  background: rgba(0, 0, 0, 0.2);
}
.GICarousel.GI_C_wrapper ul.GI_C_paginator li {
  width: 13px;
  height: 13px;
  cursor: pointer;
  margin: 18px;
  display: inline-block;
  _display: inline;
  background: gray;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}
.GICarousel.GI_C_wrapper ul.GI_C_paginator li.active {
  background: white;
}
